body {
    font-family: 'Arial', sans-serif;
    background-color: #FF1493; /* Rosa choque */
    color: #FFFFFF; /* Branco */
    text-align: center;
    padding: 50px;
    margin: 0;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000; /* Preto para sombra */
}
button {
    background-color: #000000; /* Preto */
    color: #FFFFFF; /* Branco */
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
button:hover {
    background-color: #FFFFFF; /* Branco */
    color: #000000; /* Preto */
}
#resultado {
    font-size: 1.5em;
    margin-top: 20px;
    padding: 20px;
    background-color: #FFFFFF; /* Branco */
    color: #000000; /* Preto para texto no resultado */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: none; /* Inicialmente oculto */
}