body {
    font-family: 'Arial', sans-serif;
    background-color: #FF1493; 
    color: #FFFFFF;
    text-align: center;
    padding: 50px;
    margin: 0;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000; 
}
button {
    background-color: #000000; 
    color: #FFFFFF; 
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
button:hover {
    background-color: #FFFFFF; 
    color: #000000; 
}
#resultado {
    font-size: 1.5em;
    margin-top: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    color: #000000; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: none;
}